.chat-view {
  width: 80%;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}

.chat-view h1{
  text-transform: capitalize;
  font-family: "Open Sans";
  font-weight: 300;
  border: 0px, 0px, 1px, 0px;
  border-style: none none solid none;
  border-color: rgb(0, 25, 52);
}

.messages{
  margin-left: 5px;
  margin-bottom: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.username {
  font-size: 16px;
  float: left;
  position: absolute;
  left: 5px;
  right: 5px;
  width: 10%;
  height: 75%;
}

.timestamp{
  text-align: right;
  float: left;
  clear: both;
  vertical-align: bottom;
  width: 10%;
  font-size: 12px;
  margin-right: 10px;
  height: 25%;
}

.message{
  border-radius: 3px;
  background-color: rgba(0, 25, 52, 0.5);
  color: white;
  float: right;
  width: 70%;
  height: 100%;
  word-wrap: break-word;
  margin-left: 11%;
  padding-left: 5px;
}



.input{
  width: 80%;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 50px;
}

.input-field{
  width: 80%;
  height: 40px;
  margin-bottom: 10px;
}

.send{
  width: 15%;
  height:40px;
  margin-bottom: 10px;
}
