.modal {
    border-radius: 5px;
    border-color: white;
    width:200px;
    position: absolute;
    left: 40%;
    top: 40%;
    background-color: rgb(100, 100, 100);
    text-align: center;
}

.modal-head {
    background-color: rgb(200, 200, 200);
}

.modal-input .input {
  font-size: 20px;
}
