.modal {
    border-radius: 5px;
    width:200px;
    position: absolute;
    left: 40%;
    top: 40%;
    background: linear-gradient(rgb(0, 25, 52), rgb(0, 75, 130));
    text-align: center;
    font-family: "Open Sans";
    font-weight: 300;
}

.modal h3{
    font-family: "Open Sans";
    font-weight: 300;
    color: rgba(255, 255, 255, 0.5);
}

.modal-input .input {
  font-size: 20px;
}

.modal h4{
    overflow: hidden;
    width: 80%;
    text-align: left;
    padding-left: 20px;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Open Sans';
    font-weight: 300;
    text-overflow: ellipsis;
}
