.modal h3{
    font-family: "Open Sans";
    font-weight: 300;
    color: rgba(255, 255, 255, 0.5);
}

.modal-input .input {
  font-size: 20px;
}

.modal h4{
    overflow: hidden;
    width: 80%;
    text-align: left;
    padding-left: 20px;
    color: rgba(255, 255, 255, 0.8);
    font-family: 'Open Sans';
    font-weight: 300;
    text-overflow: ellipsis;
}

.sign-in button{
    width: 80%;
    height: 40px;
}
